.body {
    display: table;
    width: 100%;

}

.infos{
    margin-left:0px;
}

a {
    color: #66b3ff;
    text-decoration: none;
}

a:link {
    color: #66b3ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #66b3ff;
    text-decoration: none;
}

/*.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px
}*/

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.sidenav a {
    padding: 5px 0px 0px 0px;
    text-decoration: none;
    /*font-size: 18px;*/
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sub a {
    font-size: 14px;
    color: black;
}

.sidenav a:hover {
    color: lightskyblue;
}

.panel-group a {font-size: 12px;}

.list-group-item{
  padding: 10px 8px 10px 8px !important;
}

.panel-heading{
  padding: 10px 8px 10px 8px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
    .collapse a {font-size: 12px;}
}

/* database */

.database{
    height: 100px;
}

.database:hover {
    background-color: #b3ccff !important;
    border: #6699ff !important;
    cursor: pointer;
}


.glyphicon {
    font-size: 1.6em;
}

database-modal .glyeye:hover {
    color:white;
}

.btn-success {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* d3 charts */

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#chart{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.y.axis line {
  fill: none;
}

.x.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.resize {
  display: inline !important; /* show when empty */
  fill: #7A7A7A;
  fill-opacity: 1;
  stroke: #7A7A7A;
  stroke-width: 2px;
}

.bar {
  /*shape-rendering: crispEdges;*/
}
.arc text {
  font-size: 30px;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px;
    padding: 5px;
    text-align: center;
}

/* Search cirlce */

.search {
    fill : #55568C;
}

.title{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:18px;
}

.miniTitle{
    font-family: 'Montserrat', 'sans-serif';
    text-align: left;
}

.legendText{
    text-align: left;
    font-size: 11px;
    /* margin-bottom: 10px; */
    line-height: 1.5;
}

/* Gene Tooltip */

.tip {
    text-align: center;
    border-right: solid 1px #DDD;
}

.tip .process{
    margin-top: 5px;
    margin-bottom: 8px;
}

.tip .function {
    color: #666;
    text-align: center;
    font-style: italic;
    margin-bottom: 8px;
    font-size: 12px;
}

/* Search Results */
.results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 10;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.results .title {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    text-align: left;
}

.results li { display: block }

.results li:first-child:before, .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.results li:first-child:before {
    border-bottom: 5px solid #ddd;
    top: -11px;
}

.results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.results li:first-child:hover:before, .results li:first-child:hover:after { display: none }

.results li:first-child { margin-top: -1px }

.results li:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    cursor: pointer;
}

/* Node Labels */
/*
 * h3 node labels
 */
.node {
    font-weight: 500;
    color: #2c3e50;
    position: absolute;
    width: 8em;
    margin-left: -4em;
    text-align: center;
    opacity: 1;
    cursor:pointer;
}

.node.theme {
    font-weight: 700;
    text-transform: uppercase;
}

.vis {
    top: 0;
    left: 0;
    overflow: hidden;
    position:relative;
}


.canvas {
    height: 100%;
    overflow: hidden;
}

.legend {
    padding: 1.5em 0 0 1.5em;
    font-size: 12px;
}