#sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    top: 80;
    bottom: 0;
    padding: 0px 5px;
    position: static;
}

.dropdown-menu{
  max-height:none !important
}

@media screen and (min-width: 1200px) {
	#sidebar{
		position:fixed;
	}
}


.question {
padding: 0px 0 0px;
  text-align: center;
  font-size: 18px;
  border:none;
}

.question .question-tooltip {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999;
    top: -5px;
    font-size: 12px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.question:hover .question-tooltip {
    visibility: visible;
    opacity: 1;
    background-color: rgba(144, 144, 144, 1);
}


.databutton .databutton-tooltip {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999;
    top: -5px;
    font-size: 12px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.databutton:hover .databutton-tooltip {
    visibility: visible;
    opacity: 1;
    background-color: rgba(144, 144, 144, 1);
}


@media screen and (max-height: 450px) {
    .collapse a {font-size: 12px;}
}

#ddm li a{
    line-height: 40px;
    padding-top: 0;
    height: 40px;
}


a:link {
    color: #66b3ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: dodgerblue;
    text-decoration: none;
}

.tip {
    text-align: center;
    border-right: solid 1px #DDD;
}

.greyish{
    color: #666;
}

.title{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:18px;
}

.tip .gene_name {
    font-size: 12px;
}

.tip .process {
    margin-top: 5px;
    font-weight: 600;
}

.tip .function {
    font-style: italic;
    font-size: 12px;
    margin-bottom:5px;
}

.tip .sample {
    margin-top: 8px;
    font-size: 16px;
}

.tip .info {
    font-size: 13px;
}

.tip .mutation {
    text-align: left;
    font-size: 10px;
}

.infos{
    margin-left:0px;
}

.title{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:18px;
}

.miniTitle{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    text-align: left;
}

.midTitle{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-size:16px;
    text-align: left;
}

input[type=checkbox] {
    float: right;
    margin-right: 0.4em;
}

#nav_bar{
    font-size: 18px;
}


.dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.dropdown-menu a {
   overflow: hidden;
   outline: none;
}
 
.additem input
{
   border:0;
   margin:-3px;
   padding:3px;
   outline: none;
   color: #000;
   width: 99%;
}
 
.additem:hover input
{
   background-color: #f5f5f5;
}
 
.additem .check-mark
{
   opacity: 0;
   z-index: -1000;
}
 
.addnewicon {
   position: relative;
   padding: 4px;
   margin: -8px;
   padding-right: 50px;
   margin-right: -50px;
   color: #aaa;
}
 
.addnewicon:hover {
   color: #222;
}


#svgs-all{
    text-align: center
    font-size: 13px;
}


#wrapUp {
    white-space:nowrap;
}

#scatterplot {
    /*display: inline-block*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#barchart {
    /*display: inline-block*/
}

/*#heatmap{
    font-size: 8px; 
}*/

.cell{
    stroke: #E6E6E6;
    stroke-width:1px;   
  }

text.text-hover {
        fill: red;
      }


div.mpld3-tooltip 
{
    position: absolute;
    text-align: left;
    width: 140px;
    height: 65px;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*g.mpld3-xaxis g.tick text
{
transform: rotate(-90deg) translateX(-5.5em) translateY(-1em);
}*/

g.mpld3-xaxis path.domain,g.mpld3-yaxis path.domain
{
    display: none;
}

svg.mpld3-figure
{
    transform: translate(0,-120px)
}

.database-modal .modal-dialog {
  margin: 80;
  height: 90%;
  width: auto;
}
.database-modal .modal-content {
  border-radius: 15px;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 30px 0;
  text-align: center;
}
.database-modal .modal-content h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 3em;
}
.database-modal .modal-content p {
  margin-bottom: 30px;
}


.database-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.database-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.database-modal .modal-content img {
  margin-bottom: 0px
}
.database-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.database-modal .close-modal:hover {
  opacity: 0.3;
}
.database-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.database-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.database-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
 .database-item {
  margin: 0 0 15px;
  right: 0;
     padding: 0 10 0 10px
}
 .database-item .database-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
 .database-item .database-link .database-hover {
  background: rgba(18, 232, 182,0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
 .database-item .database-link .database-hover:hover {
  opacity: 1;
}
 .database-item .database-link .database-hover .database-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
 .database-item .database-link .database-hover .database-hover-content i {
  margin-top: -12px;
}
 .database-item .database-link .database-hover .database-hover-content h3,
 .database-item .database-link .database-hover .database-hover-content h4 {
  margin: 0;
}
 .database-item .database-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 15 0 0 0px;
}

 .database-item .database-caption h4 {
  text-transform: none;
  margin: 0;
padding: 15 0 10 0px;
}
 .database-item .database-caption p {

  font-size: 14px;
  margin-top:10px;
     text-align: justify;
}

